@import 'styles/variables';

.button {
  width: 100%;
  padding: $m;
  background: $blue;
  border: none;
  
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: $ffText;
  font-size: $medium;
  font-weight: 300;
  color: #fff;

  cursor: pointer;

  &:hover {
    background: $blueRegal
  }
}

.auto {
  width: auto;
}

.negative {
  background: $red;

  &:hover {
    background: $grenadier;
  }
}

.positive {
  background: $green;

  &:hover {
    background: $seaGreen;
  }
}

.small {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: normal;
  border-radius: $xs;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  padding: $s $m;
}

.neutral {
  background: $gray;
  color: $mineShaft;

  &:hover {
    background: $gray200;
  }
}
