@import 'styles/variables';

.button {
  width: 100%;
  padding: $m;
  background: $blue;
  border: none;
  
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: $ffText;
  font-size: $medium;
  font-weight: 300;
  color: #fff;

  cursor: pointer;

  &:hover {
    background: $blueRegal
  }
}

.auto {
  width: auto;
}

.negative {
  background: $red;

  &:hover {
    background: $grenadier;
  }
}
