@import 'styles/variables';

.container {
  height: 100%;
  overflow: auto;
  background: url('./../../images/guitar.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.auth {
  max-width: 320px;
  margin: $xxl auto;
  padding: $m;
  background: #fff;

  @media (max-width: 1024px) {
    border: 1px solid $blue;
  }
}

.form {
  margin-top: $xxl;
}

.inputContainer {
  margin-bottom: $l;
}

.subtext {
  text-align: center;
  font-size: $small;
  margin: 0;
  padding: $s 0;
}

.guitar {
  position: absolute;
}

.errors {
  padding: $s;
  margin: 0;
  list-style-position: inside;
  
  li {
    color: $red;
  }
}

.invalidText {
  @media (max-width: 1024px) {
    position: relative;
    left: 0;
    width: 100%;
    margin: $m 0 0 0;
  }
}
