@import 'styles/variables';

.settingsContainer {
  max-width: 320px;
  margin: $l auto;
}

.checkContainer {
  display: flex;
  align-items: center;
}

.checkLabel {
  margin-left: $s;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: $l;

  button {
    margin-left: $m;
  }
}

.delete {
  display: block;
  margin-top: $m;
  text-align: right;
  color: $red;
  text-decoration: underline;
  cursor: pointer;
}
