@import 'styles/variables';

.container {
  max-width: 280px;
  margin: $xxl auto;
}

.avatar {
  display: block;
  width: 124px;
  height: 124px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  
  svg, img {
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
  }
}

.nickname {
  text-align: center;
}
