// colors
$mineShaft: #212121;
$tundora: #424242;
$blue: #01579B;
$blueRegal: #00467d;
$red: #F14500;
$grenadier: #d13c00;

// sizes
$xs: 4px;
$s: 8px;
$m: 16px;
$l: 32px;
$xl: 48px;
$xxl: 64px;

// fonts
$ffText: 'Roboto', sans-serif;
$ffName: 'Amatic SC', cursive;
$ffCursive: 'Caveat', cursive;

// font sizes
$tiny: 12px;
$small: 14px;
$medium: 18px;
$big: 24px;
