@import 'styles/variables';
$edge: 648px;

.header {
  padding: $s 0;
}

.inner {
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  @media (max-width: $edge) {
    align-items: center;
  }
}

.nav {
  @media (max-width: $edge) {
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    background: #fff;
    z-index: 999;

    &.sidebar {
      left: 0;
      right: 0;
    }
  }
}

.list {
  list-style: none;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;

  @media (max-width: $edge) {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
  }
}

.link {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 $l;
  text-transform: uppercase;
  color: $mineShaft;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
  
  @media (max-width: $edge) {
    height: $xl;
    margin: $s 0;
    justify-content: center;
  }
}

.activeLink {
  border: 1px solid $blue;
  color: $blue;
}

.menu {
  display: none;
  width: $l;
  height: $l;
  cursor: pointer;

  @media (max-width: $edge) {
    display: block;
  }
}

.close {
  position: absolute;
  top: 24px;
  left: $l;
  width: $l;
  height: $l;
  cursor: pointer;
}
